#heading
{
	font-family: 'Barlow Condensed', sans-serif;
	text-align: center;
	font-size: 50px;
}

.topnav {
  overflow: hidden;
  text-align: center;
}

.topnav a {
  	color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Barlow Condensed', sans-serif;
    display:inline-block;
 }

.topnav a:hover {
  color: black;
  border-bottom: black solid 1px;
}

.active {
  color: black;
}

/* PROJECTS */
#project_heading
{
  font-family: 'Barlow Condensed', sans-serif;
}

#projects
{
  margin: auto;
  width: 80%;
  padding: 10px;
}

.column
{
  float: left;
  width: 33.33%;
  padding: 10px;

  background: url(pictures/ocean.jpg) 50% 50% no-repeat; /* 50% 50% centers image in div */
  width: 30%;
  height: auto;
}

.row: after {
  content: "";
  display: table;
  clear: both;
}

.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

/* Smartphones */
@media (max-width: 480px)
{
  .column
  {
    width: 100%;
  }
}